@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

*,
*:after,
*:before {
  --vivid-sky-blue: #32c6efff;
  --space-cadet: #323c62ff;
  --eerie-black: #1b1b1b;
  font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

input[type="radio"] {
  display: none;
}

.tabs {
  display: flex;
  background-color: var(--eerie-black);
  align-items: center;
}
.tabs h1 {
  user-select: none;
  margin-right: auto;
  margin-left: 1rem;
  color: #AEFF6E;
}

.tab {
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  padding: 1.2rem 2rem;
  color: var(--vivid-sky-blue);
  transition: box-shadow 0.2s ease-in-out, color 0.2s;
}
.tab:hover {
  box-shadow: inset 0px -3px var(--eerie-black), inset 0px -6px var(--vivid-sky-blue);
}
.tab:last-child {
  margin-right: auto;
}

input[type="radio"]:checked + label {
  color: white;
}
input[type="radio"]:checked + .tab {
  box-shadow: inset 0px -3px var(--eerie-black), inset 0px -6px white;
}


.grafico {
  height: 25rem;
  padding: 1rem;
  margin: 3rem 0;
}


.filter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.filter-content {
  max-width: 24rem;
  min-width: 24rem;
  position: relative;
  margin: 1rem 1rem;
  padding: 0 1rem;
}


.filter-content__input {
  display:block;
  width:100%;
  height:calc(1.5em + .75rem + 2px);
  padding:.375rem .75rem;
  font-size:1rem;
  font-weight:400;
  line-height:1.5;
  color:#495057;
  background-color:#fff;
  background-clip:padding-box;
  border:1px solid #ced4da;
  border-radius:.25rem;
  transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-align: left;
}
.filter-content__input::-ms-expand {
  background-color:transparent;
  border:0
}
.filter-content__input:-moz-focusring {
  color:transparent;
  text-shadow:0 0 0 #495057
}
.filter-content__input:focus {
  color:#495057;
  background-color:#fff;
  border-color:#80bdff;
  outline:0;
  box-shadow:0 0 0 .2rem rgba(0,123,255,.25)
}
.filter-content__input::placeholder {
  color:#6c757d;
  opacity:1
}
.filter-content__input:disabled,.filter-content__input[readonly] {
  background-color:#e9ecef;
  opacity:1
}
select.filter-content__input:focus::-ms-value {
  color:#495057;
  background-color:#fff
}


body {
  background: #dcdcdc;
}

label.filter {
  display:inline-block;
  margin-bottom: .5rem;
}

main h1 {
  text-align: center;
  padding: 1rem;
}