.center{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 40%;
    padding: 10px;
}

.centerInput{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 40%;
}

body{
    background-color: rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
}

button{
    padding: 8px 25px;
    background: transparent;
    outline: none;
    border: 2px solid black;
    border-radius: 12px;
    color: black;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

input:invalid {
    border: 5px solid red;
}

input{
    padding: 8px
}

.show{
    display: block;
}

.hide{
    display: none;
}