* {
    margin: 0;
    padding: 0;
  }

:root{
    --purple-navy: #37436bff;
    --vivid-sky-blue: #32c6efff;
    --space-cadet: #323c62ff;
    --rich-black-fogra-39: #0a0a0aff;
    --green-pigment: #009b43ff;
}
@import url(https://fonts.googleapis.com/css?family=Roboto);

.active{
    background-color: var(--space-cadet);
}

.grafico{
    height: 22rem;
    padding: 1rem;
}

body {
  background: #E5E5E5;
}

h1{
    text-align: center;
}

ul {
    font-family: 'roboto';
    font-weight: bolder;
    letter-spacing: 0.01rem;
    list-style-type: none;
    overflow: hidden;
    background-color: var(--rich-black-fogra-39);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: var(--vivid-sky-blue);
    text-align: center;
    padding: 1.2rem 2rem;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: var(--space-cadet);
    cursor: pointer;
    }