:root{
    --purple-navy: #37436bff;
    --vivid-sky-blue: #32c6efff;
    --space-cadet: #323c62ff;
    --rich-black-fogra-39: #0a0a0aff;
    --green-pigment: #009b43ff;
}

.center{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 40%;
    padding: 10px;
}

.centerInput{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 40%;
}

.grafico{
    height: 22rem;
}

body{
    background-color: rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
}

button{
    padding: 8px 25px;
    background: transparent;
    outline: none;
    border: 2px solid black;
    border-radius: 12px;
    color: black;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

input:invalid {
    border: 5px solid red;
}

input{
    padding: 8px
}

.show{
    display: block;
}

.hide{
    display: none;
}